/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.top {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: aqua;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #666666;
  border: #cccccc;
}
header {
    width: 25%;
    position: relative;
}

#about {
    width: 25%;
    position: relative;
    float: right;
    text-align: left;
}


#contact{
    width: 15%;
    position: relative;
    float: right;
    text-align: right;
}

#portfolio {
    width: 15%;
    position: relative;
    float: right;
}
#main {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background: blue;
  width: 930px;
  margin: 20 auto 20 auto;
  padding: 15px;
  position: relative;
}

img {
  width: 20%;
  height: 15%;
}

footer {
  position: relative;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  width: 100%;
  height: 50px;
  padding-top: 25px;
  color: #ffffff;
  font-size: small;
}
